body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Home_Admin_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Home_Admin_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:95px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:101px;
}

.u3 {
    position:absolute;
    left:2px;
    top:40px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Home_Admin_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:95px;
    width:1024px;
    height:79px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:85px;
}

.u5 {
    position:absolute;
    left:2px;
    top:32px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Home_Admin_files/Add_Product_Image_u6_normal.png');
}

.u6_container {
    position:absolute;
    left:20px;
    top:109px;
    width:65px;
    height:52px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:65px;
    height:52px;
}

.u7 {
    position:absolute;
    left:2px;
    top:18px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:95px;
    top:127px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:499px;
    top:122px;
    width:132px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10_normal {
    background-image: url('../Home_Admin_files/Search_Image_u10_normal.png');
}

.u10_container {
    position:absolute;
    left:631px;
    top:110px;
    width:60px;
    height:49px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:49px;
}

.u11 {
    position:absolute;
    left:2px;
    top:16px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Home_Admin_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:138px;
    top:212px;
    width:748px;
    height:49px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:754px;
    height:55px;
}

.u13 {
    position:absolute;
    left:2px;
    top:14px;
    width:744px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:138px;
    top:281px;
    width:748px;
    height:405px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:360px;
    top:124px;
    width:129px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16_normal {
    background-image: url('../Home_Admin_files/Logo_u16_normal.png');
}

.u16_container {
    position:absolute;
    left:297px;
    top:16px;
    width:117px;
    height:63px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:123px;
    height:69px;
}

.u17 {
    position:absolute;
    left:2px;
    top:24px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:462px;
    top:6px;
    width:265px;
    height:83px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Home_Admin_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:804px;
    top:122px;
    width:165px;
    height:25px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:31px;
}

.u20 {
    position:absolute;
    left:2px;
    top:4px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

