/*------------------------------------------------------*
 *-------------- COLOR REFERENCE CHART -----------------*
 *--- used in ------------ comment -------- colour -----* 

   Theme main color      greenishBlue      #5A8FA8
   Border color          darkGray_1        #888
   Header color          darkGray_2        #555
*/


/*------------------------------------------------------*
 *---------------------- FONTS -------------------------*
 *------------------------------------------------------*/

@font-face {
    font-family: 'pt_sans';
    src: url('fonts/PT_Sans/PT_Sans.eot');
    src: url('fonts/PT_Sans/PT_Sans.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT_Sans/PT_Sans.woff') format('woff'),
         url('fonts/PT_Sans/PT_Sans.ttf') format('truetype'),
         url('fonts/PT_Sans/PT_Sans.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*------------------------------------------------------*
 *---------------- SITE PROPERTIES ---------------------*
 *------------------------------------------------------*/
body{
	height: 100%;
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
}

a, button, input[type="submit"] {
    cursor: pointer;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


label{
	font-weight: bold;
	margin-left: 30px;
}
legend{
	font-size: large;
}


/*------------------------------------------------------*
 *-- Cabecera principal de la página                  --*
 *------------------------------------------------------*/
#cabecera{
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    min-width: 300px;
	height: 100px;	
	background-color: /* greenishBlue  */ #5A8FA8;
	border:2px solid /* darkGray_1  */ #888;
}

#logoWeb {
    margin-left: 1%;
    height: 90px;
    width: 120px;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

#logoWeb img{ 
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-height: 100%;
}

#tituloWeb{
    font-family: 'pt_sans';
    font-size: 5em;
    height: 80px;
    float: left;
    margin-left: 5%;
    margin-top: 0.1em;
    margin-bottom: 10px;
    color: white;
    vertical-align: middle;
    text-align: center;
}

/*------------------------------------------------------*
 *-- Subcabecera con los elementos correspondientes   --*
 *------------------------------------------------------*/
 
#subcabecera{
    margin-top: 0.2em;
	width: 100%;
	height: 60px;
	border-bottom: 2px solid black;
}


#logoAddProduct{
	position: absolute;
	left: 100px;
	top: 25px;
	width: 60px;
	height: 60px;
}
#addProduct{
	position: absolute;
	left: 165px;
	top: 40px;
	font-weight: bold;
	font-size: x-large;
	vertical-align: 25px;
}
#selectPropiedades{
	position: absolute;
	left: 500px;
	top: 40px;
	vertical-align: 25px;
	width: 150px;
	height: 30px;
}
#textoBusq{
	position: absolute;
	left: 660px;
	top: 40px;
	vertical-align: 25px;
	height: 30px;
}

#logoBusqueda{
	position: absolute;
	left: 820px;
	top: 30px;
	margin-bottom: 5px;
	margin-left: -5px;
	width: 50px;
	height: 50px;
}

#botonListado{
        display:block;
	position: absolute;
	left: 1050px;
	top: 35px;
	vertical-align: center;
        text-align:center;
        background-color:#DDD;
        text-decoration:none;
        color:black;
        line-height:40px;
	width: 200px;
	height: 40px;
	border: 1px solid red;
	border-radius:20px;
	font-weight: bold;
	font-size: 1.01em;
}

/* Item de la subcabecera 'carrito' */
#carritoWrapper  {
    display: inline-block;
    margin-left: 1%;
    height: 100%;
    line-height: 60px;
    min-width: 120px;
    float: left;
}

#carrito {
    vertical-align: middle;
    height: 50px;
    width: 50px;
    float: left;
}

#carrito img {
    vertical-align: middle;
    width: 100%;
    max-height: 100%;
}

#itemsCarrito{
    vertical-align: middle;
    font-size: 1.5em;
    color: /* darkGray_2  */ #555;
    float: right;
    margin-left: 5%;
     -webkit-align-self: center;
    align-self: center;
    text-align: left;
}
/* ------------------------- */

/*--------------------------------------------------------- */
/* Sección principal pagina Admin_Home*/
/*--------------------------------------------------------- */
#titulo{
	position: absolute;
	top: 250px;
	left: 182px; 
	border: 3px solid black;
        text-align:center;
        line-height:60px;
        color:blue;
        font-size:18pt;
        width:1000px;
        height:60px;
        
}

#descripcion{
	position: absolute;
	top: 350px;
	left: 182px; 
	border: 2px solid black;
	padding: 10px;
        width:975px;
        height:200px;
	resize: none;
}

/*---------------------------------------------------------*/
/* Tabla de busquedas y listado  */
/*---------------------------------------------------------*/
/*Propiedades generales de la tabla */
table{
	position: absolute;
	left: 100px;
	top: 280px;
	width: 1200px;
	border-collapse: collapse;
	background-color:#FFF;
	border-collapse: collapse;
	border: none;
}
/* Primera fila */
.first_row{
	background-color: #C0C0C0;
	position: relative;
	height: 30px;
}
.first_row td{
	font-size: 20px;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	color: #333333;
}
/* Siguientes filas de la tabla */
.all_row{
	position: relative;
	height: 70px;
}
/* Primera columna */
#firstCol{
	background-color: white;
	border: none;
}
/* Logo añadir a carrito */
#logoTabla{
	width: 50px;
	height: 50px;
}


/*--------------------------------------------------------- */
/* Formularios */
/*--------------------------------------------------------- */
#addModForm{
	position: absolute;
	top:350px;
	left: 432px;
	width: 500px;
}
.campoForm{
	margin: .8em 0;
}
#buttonsForm{
	margin-left: 200px;
}
.buttonForm{
	font-weight:bold;
	padding: 5px;
	margin-right: 20px;
}

/*--------------------------------------------------------- */
/* Pagina del carrito */
/*--------------------------------------------------------- */

/* Fila de totales */
#lastRow1{
	position:relative;
	top: 10px;
	background-color: white;
	border:white;
	height:50;
}

/* Fila de botones */
#lastRow2{
	position:relative;
	top: 10px;
	background-color: white;
	border:white;
	height:80;
}

.precio{
	text-align: right;
}

.unidades{
	text-align: center;
}

#carrito{
  display:block;
  position: absolute;
  left: 100px;
  top: 30px;
  text-decoration:none;
}

#carrito img{
  vertical-align:middle;
}

.right {
  text-align:right;
}

#botones_carro{
  position:absolute;
  top:500px;
  right:150px;
}
