body{
	width:1365px;
}

/*----------------------------------------------- */
/* Cabecera principal de la pagina */
/*----------------------------------------------- */
.cabecera{
	position:absolute;
	width: 1365px;
	height: 100px;
	position:absolute;
	left: 0px;
	top:0px;
	background-color:#C0C0C0;
	border:2px solid black;
}
/* Logos de la cabecera */
.logos{
	position: absolute;
	left: 320px;
}
#logoWeb{
	width: 120px;
	height: 80px;
	margin-top: 10px;
	border: 1px solid black;
}
#logoEmpresa{
	position: absolute;
	left: 420px;
	top: 10px;
	width: 300px;
	height: 80px;
}


/*--------------------------------------------------------- */
/* Subcabecera con los elementos correspondientes */
/*--------------------------------------------------------- */
.subcabecera{
	position: absolute;
	left: 0px;
	top: 100px;
	width:1365px;
	height: 100px;
	border-bottom: 2px solid black;
}
#logoAddProduct{
	position: absolute;
	left: 100px;
	top: 25px;
	width: 60px;
	height: 60px;
}
#addProduct{
	position: absolute;
	left: 165px;
	top: 40px;
	font-weight: bold;
	font-size: x-large;
	vertical-align: 25px;
}
#selectPropiedades{
	position: absolute;
	left: 500px;
	top: 40px;
	vertical-align: 25px;
	width: 150px;
	height: 30px;
}
#textoBusq{
	position: absolute;
	left: 660px;
	top: 40px;
	vertical-align: 25px;
	height: 30px;
}
#logoBusqueda{
	position: absolute;
	left: 820px;
	top: 30px;
	margin-bottom: 5px;
	margin-left: -5px;
	width: 50px;
	height: 50px;
}
#botonListado{
	position: absolute;
	left: 1050px;
	top: 35px;
	vertical-align: 25px;
	width: 200px;
	height: 40px;
	border: 1px solid red;
	border-radius:20px;
	font-weight: bold;
	font-size: 1.01em;
}


/*--------------------------------------------------------- */
/* Sección principal pagina Admin_Home*/
/*--------------------------------------------------------- */
#canvasTitulo{
	position: absolute;
	top: 220px;
	left: 182px; 
	border: 3px solid black;
}

#descripcion{
	position: absolute;
	top: 350px;
	left: 182px; 
	border: 2px solid black;
	padding: 10px;
	resize: none;
}

/*---------------------------------------- PARTE HÉCTOR ---------------------------------*/

#descripcionForm{
	position: absolute;
	top: 310px;
	left: 590px; 
	border: 2px solid black;
	padding: 10px;
	resize: none;
}

.formañadir input{
	padding: .2em;
}

/*---------------------------------------- PARTE HÉCTOR ---------------------------------*/


/*---------------------------------------- PARTE ALEJANDRO ---------------------------------*/

/*Home cliente*/
#logoCarrito{
	position: absolute;
	left: 100px;
	top: 25px;
	width: 60px;
	height: 60px;
}
#Carrito{
	position: absolute;
	left: 165px;
	top: 40px;
	font-weight: bold;
	font-size: x-large;
	vertical-align: 25px;
}

/*Tabla busqueda*/
.table{
position: absolute;
left: 159px;
top: 254px;
width: 1000px;
height: 275px;
border-collapse: collapse;
}

/*Color primera fila*/
.first_row{
background-color: C0C0C0;
position: relative;
height: 20px;
}

.first_row td{
font-size: 20px;
font-family: Arial;
font-weight: bold;
font-style: normal;
color: #333333;
}
/*Siguientes filas de la tabla*/
.all_row{
position: relative;
height: 70px;
}

/*imagen carritos a la izquierda*/
.carrito{
position: absolute;
left:-15px;
top: 249px;
width: 45px;
height: 39px;
}
/*.imagenCarrito{
background-image: url('carritoPlus.png');
width: 45px;
height: 39px;
}*/
/*imagen editar*/
.modificar{
position: absolute;
left:-15px;
top: 299px;
width: 45px;
height: 39px;
}
.imagenModificar{
position:relative;
left:110px;
width: 45px;
height: 39px;
}

.eliminar{
position: absolute;
left:1070px;
top: 299px;
width: 45px;
height: 39px;
}
.imagenEliminar{
position:relative;
left:110px;
width: 45px;
height: 39px;
}

/*---------------------------------------- FIN PARTE ALEJANDRO ---------------------------------*/

/*--------------------------------------------------------- */
/* Estilos generales*/
/*--------------------------------------------------------- */

/* Links, botones e inputs tipo submit tendrán la mano como cursor*/
a, button, input[type="submit"] {
    cursor: pointer;
}

/*---------------------------------------- PARTE HÉCTOR ---------------------------------*/

label {
  display: block;
  margin: .5em 0 0 0;
}

.btn {
  display: block;
  margin: 1em 0;
}

/*---------------------------------------- FIN PARTE HÉCTOR ---------------------------------*/
