body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:99px;
    top:220px;
    width:537px;
    height:191px;
    overflow:hidden;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:537px;
    height:191px;
    
}

.u1_normal {
    background-image: url('../Carrito_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:534px;
    height:188px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:540px;
    height:194px;
}

.u2 {
    position:absolute;
    left:2px;
    top:86px;
    width:530px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:17px;
    top:48px;
    width:499px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:309px;
    top:102px;
    width:80px;
    height:43px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u5 {
    position:absolute;
    left:115px;
    top:102px;
    width:80px;
    height:43px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u6_normal {
    background-image: url('../Carrito_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:768px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u7 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Carrito_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:95px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:101px;
}

.u9 {
    position:absolute;
    left:2px;
    top:40px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Carrito_files/Logo_u10_normal.png');
}

.u10_container {
    position:absolute;
    left:297px;
    top:16px;
    width:117px;
    height:63px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:123px;
    height:69px;
}

.u11 {
    position:absolute;
    left:2px;
    top:24px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:462px;
    top:6px;
    width:265px;
    height:83px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Carrito_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:95px;
    width:1024px;
    height:79px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:85px;
}

.u14 {
    position:absolute;
    left:2px;
    top:32px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u15 {
    position:absolute;
    left:192px;
    top:194px;
    width:494px;
    height:221px
}

.u16_normal {
    background-image: url('../Carrito_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:25px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Carrito_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:100px;
    top:0px;
    width:226px;
    height:25px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:232px;
    height:31px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:222px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Carrito_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:326px;
    top:0px;
    width:163px;
    height:25px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:31px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Carrito_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:25px;
    width:100px;
    height:58px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:64px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Carrito_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:100px;
    top:25px;
    width:226px;
    height:58px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:232px;
    height:64px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:222px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Carrito_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:326px;
    top:25px;
    width:163px;
    height:58px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:64px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Carrito_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:83px;
    width:100px;
    height:64px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:70px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Carrito_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:100px;
    top:83px;
    width:226px;
    height:64px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:232px;
    height:70px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:222px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Carrito_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:326px;
    top:83px;
    width:163px;
    height:64px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:70px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Carrito_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:147px;
    width:100px;
    height:69px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:75px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Carrito_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:100px;
    top:147px;
    width:226px;
    height:69px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:232px;
    height:75px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:222px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Carrito_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:326px;
    top:147px;
    width:163px;
    height:69px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:75px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Carrito_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:725px;
    top:228px;
    width:32px;
    height:32px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u41 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Carrito_files/u40_normal.png');
}

.u42_container {
    position:absolute;
    left:725px;
    top:288px;
    width:32px;
    height:32px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u43 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Carrito_files/u40_normal.png');
}

.u44_container {
    position:absolute;
    left:725px;
    top:354px;
    width:32px;
    height:32px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u45 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:394px;
    top:234px;
    width:47px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u47 {
    position:absolute;
    left:394px;
    top:294px;
    width:47px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u48 {
    position:absolute;
    left:394px;
    top:360px;
    width:47px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u49 {
    position:absolute;
    left:418px;
    top:507px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u50 {
    position:absolute;
    left:552px;
    top:507px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u51 {
    position:absolute;
    left:578px;
    top:240px;
    width:47px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u52 {
    position:absolute;
    left:578px;
    top:300px;
    width:47px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53 {
    position:absolute;
    left:578px;
    top:366px;
    width:47px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u54 {
    position:absolute;
    left:625px;
    top:240px;
    width:28px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u55 {
    position:absolute;
    left:625px;
    top:300px;
    width:28px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u56 {
    position:absolute;
    left:625px;
    top:366px;
    width:28px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u57 {
    position:absolute;
    left:216px;
    top:420px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:underline;
    
}

.u58 {
    position:absolute;
    left:394px;
    top:420px;
    width:47px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u59 {
    position:absolute;
    left:578px;
    top:420px;
    width:47px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u60 {
    position:absolute;
    left:625px;
    top:420px;
    width:28px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u61 {
    position:absolute;
    left:268px;
    top:122px;
    width:132px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u62_normal {
    background-image: url('../Carrito_files/Search_Image_u62_normal.png');
}

.u62_container {
    position:absolute;
    left:400px;
    top:110px;
    width:60px;
    height:49px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:49px;
}

.u63 {
    position:absolute;
    left:2px;
    top:16px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:129px;
    top:124px;
    width:129px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u65_normal {
    background-image: url('../Carrito_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:592px;
    top:122px;
    width:165px;
    height:25px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:31px;
}

.u66 {
    position:absolute;
    left:2px;
    top:4px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

