/*------------------------------------------------------*
 *-------------- COLOR REFERENCE CHART -----------------*
 *--- used in ------------ comment -------- colour -----* 

   Theme main color      greenishBlue      #5A8FA8
   Nav background        darkGray_0        #0E0E0E
   Nav background        darkGray_1        #222
   Header color          darkGray_2        #555
   Text foreground       lightGray_0       #F0F0F0
   Content bckgrnd       lightGray_1       #CCC
   Content bckgrnd hover lightGray_2       #333
*/


/*------------------------------------------------------*
 *---------------------- FONTS -------------------------*
 *------------------------------------------------------*/

@font-face {
    font-family: 'pt_sans';
    src: url('fonts/PT_Sans/PT_Sans.eot');
    src: url('fonts/PT_Sans/PT_Sans.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT_Sans/PT_Sans.woff') format('woff'),
         url('fonts/PT_Sans/PT_Sans.ttf') format('truetype'),
         url('fonts/PT_Sans/PT_Sans.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sans';
    src: url('fonts/PT_Sans/PT_Sans_bold.eot');
    src: url('fonts/PT_Sans/PT_Sans_bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT_Sans/PT_Sans_bold.woff') format('woff'),
         url('fonts/PT_Sans/PT_Sans_bold.ttf') format('truetype'),
         url('fonts/PT_Sans/PT_Sans_bold.svg#pt_sansregular') format('svg');
    font-weight: bold;
}
@font-face {
    font-family: 'pt_sans';
    src: url('fonts/PT_Sans/PT_Sans_it.eot');
    src: url('fonts/PT_Sans/PT_Sans_it.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT_Sans/PT_Sans_it.woff') format('woff'),
         url('fonts/PT_Sans/PT_Sans_it.ttf') format('truetype'),
         url('fonts/PT_Sans/PT_Sans_it.svg#pt_sansregular') format('svg');
    font-style: italic, oblique;
}
@font-face {
    font-family: 'pt_sans';
    src: url('fonts/PT_Sans/PT_Sans_bold_it.eot');
    src: url('fonts/PT_Sans/PT_Sans_bold_it.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT_Sans/PT_Sans_bold_it.woff') format('woff'),
         url('fonts/PT_Sans/PT_Sans_bold_it.ttf') format('truetype'),
         url('fonts/PT_Sans/PT_Sans_bold_it.svg#pt_sansregular') format('svg');
    font-weight: bold;
    font-style: italic, oblique;
}

@font-face {
    font-family: 'pt_sans_caption';
    src: url('fonts/PT_Sans_Caption/PT_Sans_Caption.eot');
    src: url('fonts/PT_Sans_Caption/PT_Sans_Caption.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT_Sans_Caption/PT_Sans_Caption.woff') format('woff'),
         url('fonts/PT_Sans_Caption/PT_Sans_Caption.ttf') format('truetype'),
         url('fonts/PT_Sans_Caption/PT_Sans_Caption.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sans_caption';
    src: url('fonts/PT_Sans_Caption/PT_Sans_Caption_bold.eot');
    src: url('fonts/PT_Sans_Caption/PT_Sans_Caption_bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT_Sans_Caption/PT_Sans_Caption_bold.woff') format('woff'),
         url('fonts/PT_Sans_Caption/PT_Sans_Caption_bold.ttf') format('truetype'),
         url('fonts/PT_Sans_Caption/PT_Sans_Caption_bold.svg#pt_sansregular') format('svg');
    font-weight: bold;
}

/*------------------------------------------------------*
 *---------------- SITE PROPERTIES ---------------------*
 *------------------------------------------------------*/
html,body {
	height: 100%;
}

body{
    font: 'pt_sans';
    font-size: 100%;
    background: /* darkGray_0  */ #0E0E0E url("img/background.jpg") repeat-x 0 0;
	width: 90%;
	max-width: 1024px;
	margin: 0 auto;
}

a, button, input[type="submit"] {
    cursor: pointer;
}

a {
	text-decoration: none;
}

label{
	font-weight: bold;
	margin-left: 30px;
}

legend{
	font-size: large;
}


/*------------------------------------------------------*
 *   Cabecera principal de la página                    *
 *------------------------------------------------------*/
#cabecera{
    margin-top: 50px;
	height: 120px;
	font-family: 'pt_sans_caption';
	text-align: left;
    color: /* greenishBlue  */ #5A8FA8;
}

#cabecera a {
    color: /* greenishBlue  */ #5A8FA8;
}

#logoWeb {
    height: 90px;
    width: 120px;
    float: left;
    line-height: 120px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


#tituloWeb {
    font-size: 5em;
    line-height: 90px;
    float: left;
    margin-left: 20px;
}

#subtituloWeb{
    font-family: 'pt_sans_caption';
    font-size: 0.8em;
    color: white;
    float: left;
    margin-left: 20px;
    line-height: 140px;
}

/*------------------------------------------------------*
 *   Contenido de la página (lo que no es cabecera)     *
 *------------------------------------------------------*/
#contenido {
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	min-width: 650px;
    background-color: /* lightGray_2  */ #CCC;
    margin: 0;
    padding: 5px;
    height: 80%;
}

#contenido_ppal {
    height: 100%;
overflow: auto; 
}

/*------------------------------------------------------*
 *   Subcabecera con los items correspondientes         *
 *------------------------------------------------------*/
 
/* Menu de navegacion -*/
#menu_navegacion {
	background-color: /* darkGray_1  */ #222;
	width: 100%;
	height: 60px;
	line-height: 60px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#menu_navegacion a {
   padding: 0 20px;
   height: 60px;
   text-decoration: none;
   color: white;
   outline: none;
   display: block; 
}

#menu_navegacion a:hover {
    background-color: /* lightGray_2  */ #333; 
}

#menu_navegacion .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#menu_navegacion .nav li {
    color: white;
    line-height:60px;
	text-align: center;
	font-weight: bold;
	font-size: 1.25em;
    margin: 0;
    padding: 0;
    float: left;
}

/* ------------------------- */
/* Item del menu 'carrito' */

#carrito {
    margin-top: 5px;
    height: 50px;
}

#itemsCarrito{
    margin-left: 5px;
    float: right;
}

/* ------------------------- */
/* Item del menu 'buscador' */

#buscador {
    width: 240px;
	height: 40px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 10px;
}

#buscador_texto {
    float: left;
    padding: 0;
	border: 0;
	width: 200px;
	height: 100%;
	text-indent: 10px;
	font-size: 0.6em;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#buscador_texto:focus {
    /*outline-width: ; /* Disable colored outline */ 
    outline-color: /* greenishBlue  */ #5A8FA8;
}

#buscador_boton {
    border: none;
    float: right;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	height: 100%;
	width: 40px;
}

/* ------------------------- */
/* Item del menu 'listado completo' */

#botonListado{
    color: white;
    line-height:60px;
	text-align: center;
	height: 100%;
	font-weight: bold;
	font-size: 1.25em;
}

#botonListado a{
    color: white;
}

/* ------------------------- */

#logoAddProduct{
	position: absolute;
	left: 100px;
	top: 25px;
	width: 60px;
	height: 60px;
}
#addProduct{
	position: absolute;
	left: 165px;
	top: 40px;
	font-weight: bold;
	font-size: x-large;
	vertical-align: 25px;
}
#selectPropiedades{
	position: absolute;
	left: 500px;
	top: 40px;
	vertical-align: 25px;
	width: 150px;
	height: 30px;
}
#textoBusq{
	position: absolute;
	left: 660px;
	top: 40px;
	vertical-align: 25px;
	height: 30px;
}

#logoBusqueda{
	position: absolute;
	left: 820px;
	top: 30px;
	margin-bottom: 5px;
	margin-left: -5px;
	width: 50px;
	height: 50px;
}



/*--------------------------------------------------------- */
/* Sección principal pagina Home */
/*--------------------------------------------------------- */
#titulo{
    width: 100%;
    height: 50px;
    margin-top: 5px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: /* greenishBlue  */ #5A8FA8;
    border-bottom: 0px;
    color: white;
	text-align:center;
	font-size: 2em;
    line-height:50px;
}

#descripcion {
    text-indent: 1%;
	width: 100%;
	height: 80%;
	background-color: /* lightGray_0  */ #F0F0F0;
}

/*---------------------------------------------------------*/
/* Tabla de busquedas y listado  */
/*---------------------------------------------------------*/
/*Propiedades generales de la tabla */
table{
	position: absolute;
	left: 100px;
	top: 280px;
	width: 1200px;
	border-collapse: collapse;
	background-color:#FFF;
	border-collapse: collapse;
	border: none;
}
/* Primera fila */
.first_row{
	background-color: #C0C0C0;
	position: relative;
	height: 30px;
}
.first_row td{
	font-size: 20px;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	color: #333333;
}
/* Siguientes filas de la tabla */
.all_row{
	position: relative;
	height: 70px;
}
/* Primera columna */
#firstCol{
	background-color: white;
	border: none;
}
/* Logo añadir a carrito */
#logoTabla{
	width: 50px;
	height: 50px;
}


/*--------------------------------------------------------- */
/* Formularios */
/*--------------------------------------------------------- */
#addModForm{
	position: absolute;
	top:350px;
	left: 432px;
	width: 500px;
}
.campoForm{
	margin: .8em 0;
}
#buttonsForm{
	margin-left: 200px;
}
.buttonForm{
	font-weight:bold;
	padding: 5px;
	margin-right: 20px;
}

/*--------------------------------------------------------- */
/* Pagina del carrito */
/*--------------------------------------------------------- */

/* Fila de totales */
#lastRow1{
	position:relative;
	top: 10px;
	background-color: white;
	border:white;
	height:50;
}

/* Fila de botones */
#lastRow2{
	position:relative;
	top: 10px;
	background-color: white;
	border:white;
	height:80;
}

.precio{
	text-align: right;
}

.unidades{
	text-align: center;
}

#carrito{
  
}

#carrito img{
  
}

.right {
  text-align:right;
}

#botones_carro{
  position:absolute;
  top:500px;
  right:150px;
}
