body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Home_Cliente_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Home_Cliente_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:95px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:101px;
}

.u3 {
    position:absolute;
    left:2px;
    top:40px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Home_Cliente_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:95px;
    width:1024px;
    height:79px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:85px;
}

.u5 {
    position:absolute;
    left:2px;
    top:32px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_container {
    position:absolute;
    left:43px;
    top:108px;
    width:66px;
    height:52px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:66px;
    height:52px;
}

.u7 {
    position:absolute;
    left:2px;
    top:18px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:449px;
    top:122px;
    width:132px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9_normal {
    background-image: url('../Home_Cliente_files/Search_Image_u9_normal.png');
}

.u9_container {
    position:absolute;
    left:581px;
    top:110px;
    width:60px;
    height:49px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:49px;
}

.u10 {
    position:absolute;
    left:2px;
    top:16px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Home_Cliente_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:138px;
    top:212px;
    width:748px;
    height:49px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:754px;
    height:55px;
}

.u12 {
    position:absolute;
    left:2px;
    top:14px;
    width:744px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:138px;
    top:281px;
    width:748px;
    height:405px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:310px;
    top:124px;
    width:129px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:109px;
    top:126px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:129px;
    top:126px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Home_Cliente_files/Logo_u17_normal.png');
}

.u17_container {
    position:absolute;
    left:297px;
    top:16px;
    width:117px;
    height:63px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:123px;
    height:69px;
}

.u18 {
    position:absolute;
    left:2px;
    top:24px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:462px;
    top:6px;
    width:265px;
    height:83px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Home_Cliente_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:773px;
    top:122px;
    width:165px;
    height:25px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:31px;
}

.u21 {
    position:absolute;
    left:2px;
    top:4px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

